body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.grad {
  background-image: linear-gradient(to right, #13212e, #346491, #263b55);
  height: 110px;
  width: 100%;
  margin: 0;
  position: relative;
}

.img_logo {
  margin-left: 20px;
}

.header {
  position: absolute;
  left: 1050px;
  top: 10px;
  color: white;
}
.header > a {
  color: white;
}

.lkw {
  color: yellow;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 1000px;
}

.sidebar {
  background-color: #263b55;
  width: 240px;
  height: 86vh;
  float: left;
  margin-right: 16px;
}

ul {
  margin: 0;
}
ul > li {
  list-style-type: square;
  /* position: absolute; */
  padding-top: 16px;
  color: white;
  padding-bottom: 8px;
}

.pic {
  margin-top: 12px;
  margin-bottom: 0px;
}
.image {
  width: 26.7%;
  height: 200px;
  margin-left: 8px;
  margin-bottom: 0;
  /* float: left; */
}

.title {
  background-color: rgb(216, 234, 240);
  font-weight: bold;
  color: #346491;
  font-size: 16pt;
  padding: 8px 24px;
  margin: 0 14px 0 250px;
}
p {
  background-color: #f2f4fa;
  margin: 0 14px 0 250px;
  margin-top: 0;
  margin-left: 250px;
  margin-bottom: 0;
  font-size: 13pt;
  line-height: 25px;
}

.footer {
  color: blue;
  text-align: right;
  margin: 10px 8px;
}

select {
  color: white;
  display: inline;
  width: 300px;
  height: 24px;
  position: absolute;
  top: 44px;
  left: 1150px;
  border: 3px solid white;
  background-color: rgb(43, 43, 178);
}
