body {
  background-color: rgb(214, 165, 75);
  font-size: 17pt;
}
.logo {
  text-align: center;
}
.header {
  background-color: rgb(226, 226, 124);
  text-align: center;
  border: 2px solid gray;
  margin-bottom: 4px;
}
a {
  color: blue;
}
h1,
h2,
h3,
h4 {
  color: purple;
}
.right {
  background-color: rgb(93, 215, 93);
  float: right;
  width: auto;
  border: 2px solid gray;
  margin-left: 4px;
}
.singer {
  float: right;
}
.moun {
  float: left;
}
